[submodule "third_party/iqa/LoDa"]
	path = third_party/iqa/LoDa
	url = https://github.com/NeosXu/LoDa.git
[submodule "third_party/iqa/CrossScore"]
	path = third_party/iqa/CrossScore
	url = https://github.com/ActiveVisionLab/CrossScore.git
[submodule "third_party/iqa/QCN"]
	path = third_party/iqa/QCN
	url = https://github.com/nhshin-mcl/QCN.git
[submodule "third_party/iqa/DSMix"]
	path = third_party/iqa/DSMix
	url = https://github.com/I2-Multimedia-Lab/DSMix.git
[submodule "third_party/iqa/SaTQA"]
	path = third_party/iqa/SaTQA
	url = https://github.com/I2-Multimedia-Lab/SaTQA.git
